.App {
  text-align: center;
}
@media only screen and (max-width: 560px) {
  #main_content{
    padding:0px 10px;
    margin-top: 0px;
  }
  #input_field{
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media only screen and (max-width: 540px) {

  .search_input{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .city_input{
    width: auto;
  }
  .longitute_input_field{
    margin-top: 5px;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}
.buttom_search{
  display: flex;
}
@media only screen and (max-width: 446px) {
.customize_city_buttons{
  display: flex;
  flex-wrap: wrap;
}
.buttom_search{
  margin-top: 10px;
}
.longitute_input_field{
width: 100%;
}
.Latitude_input_field{
width: 100%;
}
.city_input{
  width: 100%;
}
}
